

#header img {
    width: 150px;
    height:150px;
    border: 3px solid black;
    border-radius: 50%;
    
    }
    
    #header,h1,h2{
    text-align: center;
    padding:0px;
    margin: 0px;
    color: rgb(102, 96, 96);
    margin-right: 100px;
    margin-bottom: 10px;
    margin-right: 100px;
    }
    
    /* #header,#header_div,h1,h2{
        text-align: center;
        padding:0px;
        margin: 0px; 
        margin-left: 50px; 
    } */
    #mainBar{
        margin:100px;
    }
    
    
    #childSection_1 #h1{
        text-align: left;
        font-size: 30px;
        margin-top: 70px;
        background: gray;
        color:black;
        padding:2px;
    }
     #childSection_1 #article_1,h3,p{
        font-size: 20px;
        margin: 0px;
        padding:0px;
     }
     #childSection_2 #h1{
        text-align: left;
        font-size: 30px;
        margin-top: 10px;
        background: gray;
        color:black;
        padding:2px;
     }
     #childSection_2 p{
        font-size: 20px;
        margin: 0px;
        padding:0px;
        margin-right: 100px;
    
     }
     #childSection_3 #h1{
        text-align: left;
        font-size: 30px;
        margin-top: 10px;
        background: gray;
        color:black;
        padding:2px;
     }
     #childSection_3 #ul_1{
        font-size: 20px;
        margin-left: 20px;
        padding:0px;
        margin-right: 100px;
     }
    
     #childSection_4 #h1{
        text-align: left;
        font-size: 30px;
        margin-top: 10px;
        background: gray;
        color:black;
        padding:2px;
     }
    
     #childSection_4 #ul_2,#ul_3{
        font-size: 20px;
        margin-left: 20px;
        padding:0px;
        margin-right: 100px;
        
     }
     #childSection_4,pre{
        font-size: 17px;
        margin:0px;
        padding:0px;
     } 
    
     #childSection_6,#h1{
        text-align: left;
        font-size: 30px;
        margin-top: 10px;
        background: gray;
        color:black;
        padding:2px;
     }
     #childSection_6,#ul_9{
        font-size: 20px;
        margin-left: 20px;
        padding:0px;
        
     }
     #childSection_7#h1{
        text-align: left;
        font-size: 30px;
        margin-top: 10px;
        background: gray;
        color:black;
        padding:2px;
     }
     #childSection_7,#div pre{
        font-size:20px;
        margin-left:0px;
        padding:0px;
     }
     #childSection_8 p{
        font-size: 20px;
        margin-top: 20px;
        
     }
    
     #childSection_7 #Signature{
        text-align: right;
     }
    
     #childSection_9 p{
       margin: 0px;
       padding: 0px;
        margin-top: 50px;
        margin-right: 100px;
     }
    
    
     #childSection_9 h1{
        text-align: right;
        margin-right: 100px;
     }
    